@model Tuple<IEnumerable<WNLB.Models.Application>, IEnumerable<WNLB.Models.Server>>

@{
    ViewBag.Title = "WNLBv1.0 Configuration Console App";
}

@Html.Partial("_Servers", @Model.Item2)


<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>

@Html.Partial("_Apps", @Model.Item1)