<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <healthMonitoring enabled="true" heartbeatInterval="0">
        <eventMappings>
          <add name="WNLB Error Event" type="NLBLib.HealthEvents.ErrorEvent"/>
          <add name="WNLB Info Event" type="NLBLib.HealthEvents.InfoEvent"/>
        </eventMappings>
        <profiles>
          <add name="WNLBEvents" minInstances="1" maxLimit="Infinite" minInterval="00:00:00" />
        </profiles>
        <rules>
          <clear />
          <add name="WNLB Error Events" eventName="WNLB Error Event" provider="EventLogProvider" profile="WNLBEvents" />
          <add name="WNLB Info Events" eventName="WNLB Info Event" provider="EventLogProvider" profile="WNLBEvents" />
        </rules>
      </healthMonitoring>
    </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <add name="LoadBalancerModule" type="NLBLib.LoadBalancerModule"/>
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>

</configuration>
