@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>    
</hgroup>
<hr />

<div class="row">
    <div class="col-sm-12">
        <p>
            This is an ASP.NET based HTTP network load balancing software. The software provides multiple routing algorithms to distribute incoming traffic among several servers.
            Based on configuration this load balancer can easily distribute traffic among hundreds of backend servers. It's minimalistic approach toward routing allows for application
            servers to adopt any session or cache management techniques as required by applications. Both distributed/scaled out or centeralized/scaled up approaches 
            can work in parallel with this system. This NLB provides routing algorithms for both static applications, like round-robin and weighted, and dynamic applications,
            like IP Hash and CookieBased.
        </p>

        <p>
            Admins can use this configuration console to both configure system in real time and monitor status and activity. 
        </p>
        <br />
        <p>
            <table class="table">
                <tr>
                    <th>
                        Technology/Library
                    </th>
                    <th>
                        Description
                    </th>
                </tr>
                <tr>
                    <td>
                        C#.NET 4.5<br />and related tech
                    </td>
                    <td>
                        Developed by Microsoft&reg; within its .NET initiative by Anders Hejlsberg. It's is a multi-paradigm programming language encompassing strong typing, imperative, declarative, functional, generic, object-oriented (class-based), and component-oriented programming disciplines.
                    </td>
                </tr>
                <tr>
                    <td>
                        ASP.NET MVC 4
                    </td>
                    <td>
                        The ASP.NET MVC is an open source web application framework from Microsoft&reg; that implements the model–view–controller (MVC) pattern. MVC version 4 uses Razor web pages engine among other things.
                    </td>
                </tr>
                <tr>
                    <td>
                        Entity Framework 4 (EF4)
                    </td>
                    <td>
                        Entity Framework (EF) is an open source object-relational mapping (ORM) framework for ADO.NET from Microsoft&reg;, part of .NET Framework.
                    </td>
                </tr>
                <tr>
                    <td>
                        Unity Container (IoC)
                    </td>
                    <td>
                        The Unity Container (Unity) is a lightweight, extensible dependency injection container with optional support for instance and type interception from Microsoft&reg;.
                    </td>
                </tr>
                <tr>
                    <td>
                        SQL Server Express LocalDB
                    </td>
                    <td>
                        Microsoft SQL Server ExpressLocalDB is an execution mode of SQL Server Express targeted to program developers.
                    </td>
                </tr>
                <tr>
                    <td>
                        jQuery 1.10.2
                    </td>
                    <td>
                        jQuery is a cross-platform JavaScript library designed to simplify the client-side scripting of HTML. jQuery is the most popular JavaScript library in use today. jQuery is free, open-source software licensed under the MIT License.
                    </td>
                </tr>
                <tr>
                    <td>
                        Boostrap 3
                    </td>
                    <td>
                        Developed by Twitter Inc, Bootstrap is a free and open-source collection of tools for creating websites and web applications. It contains HTML- and CSS-based design templates for typography, forms, buttons, navigation and other interface components, as well as optional JavaScript extensions. The bootstrap framework aims to ease web development.
                    </td>
                </tr>
            </table>
        </p>
    </div>
</div>

<div class="row">&nbsp;</div>

<div class="row">
    <div class="col-sm-12">
        <h3>Credits</h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-5">
        <table class="table">
            <tr>
                <th>
                    VU Supervisor
                </th>
                <td>
                    Mr. Tanweer Arshad
                </td>
            </tr>
            <tr>
                <th>
                    Student Name
                </th>
                <td>
                    Faheemullah Memon
                </td>
            </tr>
            <tr>
                <th>
                    Student ID
                </th>
                <td>
                    MC070402736
                </td>
            </tr>

        </table>
    </div>
</div>

<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>

<div class="row">
    <div class="col-sm-12 text-center">
        &copy; 2015 Virtual University of Pakistan
    </div>
</div>